pandas
numpy
tqdm

google-play-scraper
selenium
beautifulsoup4
requests

nltk
spacy
scikit-learn
textblob
wordcloud

vaderSentiment
transformers
torch

psycopg2-binary
SQLAlchemy
python-dotenv

matplotlib
seaborn
plotly

jupyter
notebook
